.header {
    background: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1%;
    color: rgb(0, 0, 0);
    position: relative;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 94px 0;
    }

    &__nav {
        flex: 0 0 40%;
    }

    &__links {
        display: flex;
        list-style: none;
    }

    &__links-item {
        margin: 0 34px 0 0;
        position: relative;

        &::after {
            content: ' ';
            display: block;
            width: 7px;
            height: 7px;
            border: 1px solid black;
            border-radius: 50%;
            position: absolute;
            right: -16px;
            top: 50%;
            transform: translate(50%, -30%);
        }

        &:last-child {
            margin: 0;

            &::after {
                display: none;
            }
        }
    }

    &__logo {
        width: 134px;
        height: fit-content;
    }

    &__logo-img {
        width: 100%;
    }

    &__address {
        padding: 0 0 0 160px;
        flex: 0 0 40%;
    }
}

.address {
    line-height: 24.3px;

    &__link {
        display: block;
    }
}