.cover {
    background: url("../images/cover.jpg") no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);

    &__overlay {
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        padding: 165px 0 50px;
    }

    &__title-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 135px;

        h1 {
            font-weight: 700;
            font-size: 100px;
            line-height: 115%;
            text-transform: uppercase;
            letter-spacing: 29px;
            margin-right: -29px;
            word-spacing: -22px;
        }
    }

    &__title {
        margin: 0 0 50px;

        &:first-child {
            align-self: self-start;
        }

        &:last-child {
            align-self: self-end;
            margin: 0 -29px 0 0;
            text-align: right;
        }
    }

    &__description {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
        position: relative;
    }

    &__description-text {
        word-spacing: 21px;
    }

    &__description-button {
        width: 256px;
        height: 51px;

        color: rgb(255, 255, 255);
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;

        background: rgba(0, 0, 0, 0);
        box-sizing: border-box;
        border: 1px solid rgb(255, 255, 255);

        transition-duration: 100ms;

        &:hover {
            cursor: pointer;
            background-color: rgb(255, 255, 255);
            color: rgba(0, 0, 0);
        }
    }
}

.lots {
    margin: 180px 0 146px;

    &__title {
        margin: 0 0 35px;
    }

    &__list {
        display: flex;
        gap: 25px;
        margin: 0 24px 30px;
    }

    &__list-item {
        flex: 1 1 0px;
    }

    &__link {
        font-size: 20px;
        font-weight: 400;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px
    }
}

.lot {
    color: rgb(255, 255, 255);

    background-size: cover;

    &__overlay {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 40px;
        height: 100%;

        background: rgba(0, 0, 0, 0.6);
    }

    &__title {
        font-size: 22px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0%;
        text-decoration-line: underline;
        text-transform: uppercase;
    }

    &__text {
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0%;
    }
}

#lot-1 {
    background: url('../images/card-lot-01.jpg') center;
}

#lot-2 {
    background: url('../images/card-lot-02.jpg') center;
}

#lot-3 {
    background: url('../images/card-lot-03.jpg') center;
}

.info {
    &__row {
        display: flex;
        gap: 72px;
        margin: 35px 0 0;
    }

    &__logo {
        background-color: black;
        width: 240px;
        height: 240px;
        border-radius: 50%;
        flex-shrink: 0;
        padding: 45px;
    }

    &__logo-img {
        width: 100%;
        height: 100%;
    }

    &__main {
        margin: 101px 0 0;
    }

    &__title {
        margin: 0 0 92px;
    }

    &__text {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;

        &:last-child {
            margin: 24px 0 0 0;
        }
    }
}