.header {
  background: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1%;
  color: rgb(0, 0, 0);
  position: relative;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 94px 0;
}
.header__nav {
  flex: 0 0 40%;
}
.header__links {
  display: flex;
  list-style: none;
}
.header__links-item {
  margin: 0 34px 0 0;
  position: relative;
}
.header__links-item::after {
  content: " ";
  display: block;
  width: 7px;
  height: 7px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translate(50%, -30%);
}
.header__links-item:last-child {
  margin: 0;
}
.header__links-item:last-child::after {
  display: none;
}
.header__logo {
  width: 134px;
  height: fit-content;
}
.header__logo-img {
  width: 100%;
}
.header__address {
  padding: 0 0 0 160px;
  flex: 0 0 40%;
}

.address {
  line-height: 24.3px;
}
.address__link {
  display: block;
}